@font-face {
  font-family: 'Futurama';
  src: url('./assets/fonts/fr-fal1.ttf');
}

.card-container {
  overflow: auto;
  display: grid;
  border: 1px solid grey;
  grid-template-columns: repeat(5, clamp(150px, 20%, 200px));
  gap: 10px;
  justify-content: center;
}

.card {
  font-size: 1.5rem;
  font-family: 'Futurama';
  padding: 5px;
  background-color: #008EA0ff;
  border-radius: 10px;
}

img {
  width: 100%;
}

.image-container {
  border-radius: 5px;
  width: 100%;
  height: 200px;
  overflow: hidden;
  background-color: rgb(224, 224, 224);
}