@font-face {
  font-family: 'Futurama';
  src: url('./assets/fonts/fr-fal1.ttf');
}

@media only screen and (max-width: 500px) {
  main .start-container {
    background-image: url('./assets/logo500.png');
    height: 225px;
  }
}

@media only screen and (max-width: 1000px) {
  .start-container {
    background-image: url('./assets/logo1000.png');
    height: 350px;
  }
}

/* @media (max-width: 1500px) {
  .start-container {
    background-image: url('./assets/logo.png');
    height: 600px;
  }
} */

.card-container {
  overflow: auto;
  display: grid;
  border: 1px solid grey;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  justify-content: center;
}

.card {
  font-size: 1.5rem;
  font-family: 'Futurama';
  padding: 5px;
  background-color: #008EA0ff;
  border-radius: 10px;
  text-align: center;
}

img {
  width: 100%;
}

.image-container {
  border-radius: 5px;
  width: 100%;
  height: 200px;
  overflow: hidden;
  background-color: rgb(224, 224, 224);
}

.gameover-container {
  top: 2px;
  position: absolute;
  width: 400px;
  height: 400px;
  z-index: 2;
  border: solid grey 1px;
}

.start-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-color: rgb(99, 99, 99);
  text-align: center;
  background-size: cover;
  background-position: center;
  font-size: 1.5svw;
}

.start-container h2 {
  color: #ab1609;
  font-weight: 700;
  /* -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #ebd344; */
}

.difficulty-buttons {
  display: flex;
  gap: 10px;
}

.difficulty-buttons button {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  color: white;
}
.difficulty-buttons img {
  width: 10svw;
}