@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: 'Futurama';
  src: url('./assets/fonts/fr-fal1.ttf');
}

@media only screen and (max-width: 600px) {
  main>div.start-container {
    background-image: url('./assets/logo500.png');
    height: 260px;
    background-position: center 10%;
  }
  main>div.start-container>h2 {
    display: none;
  }

  main div.difficulty-buttons button {
    font-size: 14px;
  }

  main div.card-container {
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  }

  .card>div.image-container {
    height: 150px;
  }
}

@media only screen and (max-width: 1000px) {
  div .start-container {
    background-image: url('./assets/logo1000.png');
    height: 350px;
  }

  div.difficulty-buttons button {
    font-size: 18px;
  }

  div .card-container {
    padding: 5px;
    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
  }

  div .image-container {
    height: 175px;
  }

  div .card {
    font-size: 20px;
  }
}

@media only screen and (min-width: 1500px) {
  div .start-container {
    height: 900px;
  }

  div .card-container {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }

  div .image-container {
    height: 400px;
  }

  div .card {
    font-size: 38px;
  }
}
/* @media (max-width: 1500px) {
  .start-container {
    background-image: url('./assets/logo.png');
    height: 600px;
  }
} */

.card-container {
  overflow: auto;
  display: grid;
  border: 1px solid grey;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  justify-content: center;
}

.card {
  font-size: 24px;
  font-family: 'Futurama';
  padding: 5px;
  background-color: #008EA0ff;
  border-radius: 10px;
  text-align: center;
}

img {
  width: 100%;
}

.image-container {
  border-radius: 5px;
  width: 100%;
  height: 200px;
  overflow: hidden;
  background-color: rgb(224, 224, 224);
}

.gameover-container {
  top: 2px;
  position: absolute;
  width: 400px;
  height: 400px;
  z-index: 2;
  border: solid grey 1px;
}

.start-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
  background-image: url('./assets/logo.png');
  height: 600px;
  background-size: cover;
  background-position: center 80%;
  font-size: 1.5svw;
  padding-bottom: 5px;
}

.start-container h2 {
  margin-bottom: 5px;
  color: white;
  font-weight: 700;
  font-family: "Be Vietnam Pro";
  text-shadow: 8px 5px rgb(12, 52, 53);
}

.difficulty-buttons {
  display: flex;
  gap: 10px;
}

.difficulty-buttons button {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  color: white;
  font-size: 1.5svw;
}
.difficulty-buttons img {
  width: 10svw;
}

button {
  background-color: #1A5354FF;
}